name: CI/CD Hello (build & push)

on:
  push:
    branches: [ main ]

env:
  DOCKERHUB_USER: abhimanyu8829

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.DOCKERHUB_USER }}/hello-cicd:${{ github.sha }}
            ${{ env.DOCKERHUB_USER }}/hello-cicd:latest

      - name: Deploy to remote server via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          port: ${{ secrets.REMOTE_SSH_PORT }}
          script: |
            docker pull abhimanyu8829/hello-cicd:latest
            docker stop hello-cicd || true
            docker rm hello-cicd || true
            docker run -d -p 3000:3000 --name hello-cicd abhimanyu8829/hello-cicd:latest
